html {
    background-image: url(../assets/soundtile.png);
    background-repeat: repeat;
    background-color: #928f74 !important;
    background-size: 200px !important;
}

h3 {
    color: #3d3d3d;
}

a, #links {
    color: blueviolet;
}