@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  text-rendering:optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

html {
  

  image-rendering: -webkit-optimize-contrast;
}



#logolinks {
  display: block;
  
}

#links {
  float: left;
}






body {
  padding: 20px;
  display: block;
  box-sizing: border-box;
  text-rendering:optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
  background-color: #d1eced;
  transition: background-color 0.3s, color 0.3s;
}

h3 {
  color: rgb(94, 94, 94);
  text-rendering: optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-weight: 100;
    font-size: xx-large;
}

a, #links{
  font-size: larger;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #ff3333;
}


.content {
  width: 90%;
  /* height: 200px; */
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  flex-wrap: wrap;
  display: block;
  background-color: white;
  padding: 20px;
  
}

.contentbox {
  width: 200px;
  height:fit-content;
  min-height: 20%;
  border-width: 10px;
  border-color: grey;
  border-style: double;
  margin-top: 10px;
  flex: 1 1 200px;
  margin: 10px;
}






















#dtn {
  display: block;
  width: 32px;
}

#ntd {
  display: none;
  width: 32px;
}


#nightgif {
  display: none ;
}


#otmtitle {
  color: white;
  font-family: notoserif !important;
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.imggallery {
  width: 100%;
  
}

.imgshowcase {
  width: 180px;
  height: 160px;
  float: left;
  transition-duration: 0.3s;
  color: white;
}


.imgthumb {
  filter: invert(100%);
  transition-duration: 0.5s;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.imgthumb:hover {
  filter: invert(0%);
  transition-duration: 0.1s;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.imgthumbcontainer {
  height: 170px;
  width: 170px;
}



h4 {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: white;
}

h4:hover {
  background-color: white;
  color: black;
}




/* Night Variant */


/* Home page */ 

body.home.night h3 {
  color: #ffed00;
}

body.home.night a, #links {
  color: #4b77a5;
}

body.home.night {
  background-color: #2f3350;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}


body.home.night .content {
  background-color: #555c8d;
  color: white;
}

body.home.night #nightgif {
  display: block;
}

body.home.night #daygif {
  display: none;
}

body.home.night #ntd {
  display: block;
}

body.home.night #dtn {
  display: none;
}

body.home #dtn {
  display: block;
}

body.home #OTMoutput {
  width: 460px;
  background-color: darkcyan;
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
  float: right;
}


body.home.night #OTMoutput {
  width: 460px;
  background-color: firebrick;
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
}

body.home #OTMoutput a {
  
  color: white;
  
}

body.home.night #OTMoutput a {
  
  color: white;
  
}

body.home #otmtitle {
  color: white;
  font-family: notoserif;
  padding-bottom: 10px;
}

body.home.night #otmtitle {
  color: white;
  font-family: notoserif;
  padding-bottom: 10px;
}




/* Video night theme */ 

body.video {
  background-color: #d0fdff;
  transition: background-color 0.3s, color 0.3s;
}

body.video #videolink {
  color: rgb(94, 94, 94);
}

body.video.night #videolink {
  color: white;
}

body.video.night {
  background-color: #113360;
}

body.video.night h3 {
  color: #e8552a;
}

body.home.night a, #links {
  color: #4b77a5;
}

body.video.night {
  background-image: url(../assets/flipnightbg.gif);
  background-size: 300px;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}


body.video.night .content {
  background-color: #5a7796;
  color: white;
}

body.video.night #nightgif {
  display: block;
  
}

body.video.night #daygif {
  display: none;
}

body.video.night #ntd {
  display: block;
}

body.video.night #dtn {
  display: none;
}

#OTMoutput a {
  color: white;
  font-size: inherit !important;
}


/* Other page night mode */

/* Body header links */
body.other .otherlink {
  color: darkslategrey !important;
  width: 200px;
  background-color: #e1e9ff;
  display: block;
  border-radius: 0px 10px 10px 0px;
 
}

body.other.night .otherlink {
  color: white !important;
  width: 200px;
  background-color: #253c7b;
  display: block;
  border-radius: 0px 10px 10px 0px;
  
}

body.other .otherlink:hover {
  color: rgb(61, 105, 105) !important;
  width: 200px;
  background-color: #e2c874;
  display: block;
  border-radius: 0px 10px 10px 0px;
}

body.other.night .otherlink:hover {
  color: white !important;
  width: 200px;
  background-color:darkslategrey;
  display: block;
  border-radius: 0px 10px 10px 0px;
}

body.other {
  background-color: #bb8cd9;
  transition: background-color 0.3s, color 0.3s;
}


body.other .otherlinkdesc {
    color: #454545;
    font-weight: 100;
    font-size: medium;
    margin-bottom: 10px;
}

body.other.night .otherlinkdesc {
  color: white;
  font-weight: 100;
  font-size: medium;
}


body.other.night {
  background-color: #724191;
  transition: background-color 0.3s, color 0.3s;
}

body.other.night .content {
  background-color: #414141;
}

body.other.night #nightgif {
  display: block;
  
}

body.other.night #daygif {
  display: none;
}

body.other.night #ntd {
  display: block;
}

body.other.night #dtn {
  display: none;
}

body.other.night h3 {
  color: white;
}

body.other #projectslink {
  color: white !important;
}


/* People page */

body.people h3 {
  color: #ff2020;
}

body.people a, #links {
  color: #ffffff;
}

body.people {
  background-color: #facc76;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}


body.people .content {
  background-color: #ff5e41;
  color: white;
  border-radius: 10px;
}

body.people #nightgif {
  display: block;
}

body.people #daygif {
  display: none;
}

body.people #ntd {
  display: none;
}

body.people #dtn {
  display: block;
}

body.people table {
  padding: 30px;
}

body.people th {
  width: 150px;
  background-color: white;
  color: black;
  font-style: italic;
}

body.people td {
  height: 50px;
}


body.people tr:hover {
  background-color: rgb(255, 243, 242) !important;
  color: salmon;
  transition-duration: 0.2s;
}


/* people night */
body.people.night h3 {
  color: #e600ff;
}

body.people.night a, #links {
  color: #ffe200;
}

body.people.night {
  background-color: #354d55;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}


body.people.night .content {
  background-color: #ff5e41;
  color: white;
}

body.people.night #nightgif {
  display: block;
}

body.people.night #daygif {
  display: none;
}

body.people.night #ntd {
  display: block;
}

body.people.night #dtn {
  display: none;
}


/* Sound styles */

body.sound {
  background-image: url(../assets/soundtile.png) !important;
  background-repeat: repeat;
  background-color: #928f74 !important;
  background-size: 200px !important;
}

body.sound h3 {
  color: #ac1e1e;
}

body.sound a, #links {
  color: rgb(255, 255, 255);
}

body.sound #soundlink {
  color: #ac1e1e;
}




/* Photography */

body.photography {
  background-color: #121212 !important;
}

body.photography h3 {
  color: rgb(145 0 5);
}

body.photography .content {
  background-color: #211313 !important;
  color: white;
  height: 80%;
}

body.photography a, #links {
  color: crimson !important;
}

body.photography #photographylink {
  color: white !important;
}


/* Gardening */


body.gardening {

}

/* Web */ 

body.web #weblink {
  color: white;
}



body.web h3 {
  color: rgb(255 255 255);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-weight: 100;
  font-size: xx-large;
}

body.web {
  background-color: #cbcbff;
  padding: 20px;
  display: block;
}

body.web * {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}



body.web a {
  font-size: larger;
  text-decoration: none;
  color: #000ee0;
  
}

body.web a:hover {
  text-decoration: underline;
}

body.web a:visited {
  text-decoration: none;
  color: #551a8b;
}


body.web .content {
  width: 90%;
  /* height: 200px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  background-color: white;
  padding: 10px;
}

body.web .contentbox {
  width: 200px;
  height:fit-content;
  min-height: 20%;
  border-width: 10px;
  border-color: grey;
  border-style: double;
  margin-top: 10px;
  flex: 1 1 200px;
  margin: 10px;
}

body.web #navbar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    justify-content: space-around;
    text-align: center;
}

body.web #navbar a {
    padding: 3px;
    color: #000ee0;
}

body.web #sitesbox {
  background-color: #ffe56f;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 10px;
}




/* Art */

body.art {
  background-color: #f7e4a4;
}

body.art #artlink {
  color: white;
}







@media (min-width: 320px) and (max-width: 965px) {
    /* Apply to all .content boxes on mobile */
    .content {
      width: 100%;
    }
  
    /* Specific adjustments for night themes if needed */
    body.home.night .content,
    body.video.night .content {
      width: 100%;
    }








    body.home #OTMoutput a {
  
      color: white;
      font-size: inherit !important;
      
    }
    
    body.home.night #OTMoutput a {
      
      color: white;
      font-size: inherit !important;
      
    }

    body.home #OTMoutput {
      width: 97%;
      margin: 5px;
      padding: 15px;
    }

    body.home.night #OTMoutput {
      width: 97%;
      margin: 5px;
      padding: 15px;
    }

    body.other.night .otherlink {
      width: 100%;
    }

    body.people table {
      padding: 10px;
  }

  body.web #sitesbox {
    background-color: #ffe56f;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  

  body.web .content {
    margin: 10px;
  }

  body.web .webdes {
    margin: 10px;
    display: block;
  }

  body.web .content {
    width: 95%;
    align-content: center;
  }
}