@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  text-rendering:optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


img {
  image-rendering: optimizeSpeed;             
  image-rendering: -moz-crisp-edges;          
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -o-crisp-edges;            
  image-rendering: crisp-edges;               
}

#logolinks {
  display: block;
  
}



#links {
  float: left;
}



#headergif {
  
  width: 600px;
}


body {
  padding: 20px;
  display: block;
  box-sizing: border-box;
  text-rendering:optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

h3 {

  text-rendering: optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-weight: 100;
    font-size: xx-large;
    width: fit-content;
}

a #links{
  font-size: larger !important;
  
}




.content {
  width: 90%;
  /* height: 200px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
  padding: 20px;
  overflow: auto;
  
  
}








@media (min-width: 320px) and (max-width: 965px) {
  #headergif {
    width: 100%;
    
  }

  .content {
    width: 100%;
    margin-left: none;
    margin-right: none;
  }

  h3 {
    font-size: xx-large;
  }

}