@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  text-rendering:optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

html {
    background-image: url(assets/gardentile.png);
    background-repeat: repeat;
    background-size: 100px;
}

body {
    padding: 20px;
    display: block;
}

h3 {
  color: rgb(94, 94, 94);
  text-rendering: optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-weight: 100;
    font-size: xx-large;
    background-color: beige;
    border-radius: 5px;
}

#links {
    background-color: beige;
    width: fit-content;
    padding: 0px 5px 5px 5px;
}

a {
  font-size: larger;
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #00bf00;
}


.content {
  width: 90%;
  /* height: 200px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  background-color: beige;
  border-radius: 20px;
    padding: 20px;
}

.contentbox {
  width: 200px;
  height:fit-content;
  min-height: 20%;
  border-width: 10px;
  border-color: grey;
  border-style: double;
  margin-top: 10px;
  flex: 1 1 200px;
  margin: 10px;
}

#navbar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    justify-content: space-around;
    text-align: center;
}

#navbar a {
    padding: 3px;
}