@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  text-rendering:optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

body {
    padding: 20px;
    display: block;
}

h3 {
  color: rgb(94, 94, 94);
  text-rendering: optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-weight: 100;
    font-size: xx-large;
}

a {
  font-size: larger;
}


#content {
  width: 70%;
  height: 100%;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
}